# This compose file is for https://coolify.io/

# Context is set to "." because Coolify copies the compose file to root and runs it from there

# Assign domains to port 80 in coolify as follows:
# web => domain.com:80
# zero => domain.com:80/zero
# powersync => domain.com:80/powersync

# Required ENV
# VITE_DEPLOY_DOMAIN = your "web" domain. Must NOT end with "/". Correct example: "https://tyl.illkle.com".
# BETTER_AUTH_SECRET = secret for auth. https://jwtsecrets.com/#generator
# POSTGRES_PASSWORD = main password for postgres database
# POWERSYNC_PASSWORD = powersync password for postgres database

# Optional ENV
# RESEND_API_KEY =
# RESEND_FROM_EMAIL =

# PS: Don't forget to setup backup for Postgres

x-database-url: &database-url postgresql://postgres:${POSTGRES_PASSWORD}@postgres:5432/postgres

services:
  postgres:
    image: postgres:16-alpine
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: postgres
    command: ["postgres", "-c", "wal_level=logical"]
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 10s

  init:
    x-exclude-from-hc: true
    build:
      context: .
      dockerfile: ./docker/init.Dockerfile
    environment:
      MIGRATE: true
      DATABASE_URL: *database-url
      POWERSYNC_PASSWORD: ${POWERSYNC_PASSWORD}
    depends_on:
      postgres:
        condition: service_healthy
    restart: "no"

  powersync:
    restart: unless-stopped
    build:
      context: .
      dockerfile: ./docker/powersync.Dockerfile
    environment:
      PS_DATABASE_URL: *database-url
      PS_AUTH_DOMAIN: ${VITE_DEPLOY_DOMAIN}/api/auth/jwks
      PS_VITE_DEPLOY_DOMAIN: ${VITE_DEPLOY_DOMAIN}
    depends_on:
      postgres:
        condition: service_healthy
      init:
        condition: service_completed_successfully

  web:
    restart: unless-stopped
    build:
      context: .
      dockerfile: ./docker/web.Dockerfile
      args:
        VITE_DEPLOY_DOMAIN: ${VITE_DEPLOY_DOMAIN}
        VITE_PREVIEW_WARNING: ${VITE_PREVIEW_WARNING}
    environment:
      NITRO_PORT: 80
      NODE_ENV: production
      DATABASE_URL: *database-url
      BETTER_AUTH_SECRET: ${BETTER_AUTH_SECRET}
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:80/"]
      interval: 5s
      timeout: 5s
      retries: 3
      start_period: 30s
    depends_on:
      init:
        condition: service_completed_successfully
      powersync:
        condition: service_healthy

volumes:
  replica:
  postgres_data:
