@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .content-container {
    @apply container mx-auto max-w-4xl px-4;
  }

  .customScrollBar::-webkit-scrollbar {
    @apply w-1 bg-transparent;
  }

  .customScrollBar::-webkit-scrollbar-thumb {
    @apply rounded-full bg-neutral-200 dark:bg-neutral-700;
  }
}

body {
  scrollbar-gutter: stable;
  overflow-y: scroll;
}

/* Removes arrows from input number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

@layer base {
  :root {
    --sidebar-background: theme(colors.neutral.50);
    --sidebar-foreground: theme(colors.neutral.950);
    --sidebar-primary: theme(colors.blue.500);
    --sidebar-primary-foreground: theme(colors.neutral.950);
    --sidebar-accent: theme(colors.neutral.200);
    --sidebar-accent-foreground: theme(colors.neutral.950);
    --sidebar-border: theme(colors.neutral.300);
    --sidebar-ring: theme(colors.neutral.300);
  }
  .dark {
    --sidebar-background: theme(colors.neutral.950);
    --sidebar-foreground: theme(colors.neutral.50);
    --sidebar-primary: theme(colors.blue.500);
    --sidebar-primary-foreground: theme(colors.neutral.50);
    --sidebar-accent: theme(colors.neutral.800);
    --sidebar-accent-foreground: theme(colors.neutral.50);
    --sidebar-border: theme(colors.neutral.800);
    --sidebar-ring: theme(colors.neutral.800);
  }
}

/*
  This should be in the component file, but when imported to a file it does not appear on initial SSR generation.
  Can't use tailwind here becuse bg- sets background-color and not background
*/
.numberColorSelectorGradient {
  background: var(--gradLight);
}

.numberColorSelectorGradient:is(.dark *) {
  background: var(--gradDark);
}

.booleanTransitionAnimation {
  animation: booleanTransitionAnimation var(--animation-time) ease-in-out;
}

@keyframes booleanTransitionAnimation {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1.2);
  }
}

.spinner {
  circle {
    @apply stroke-neutral-950;
  }
  path {
    @apply fill-neutral-950;
  }
}

.spinner.spinner-inverted {
  circle {
    @apply stroke-neutral-50;
  }
  path {
    @apply fill-neutral-50;
  }
}

.dark .spinner {
  circle {
    @apply stroke-neutral-50;
  }
  path {
    @apply fill-neutral-50;
  }
}

.dark .spinner.spinner-inverted {
  circle {
    @apply stroke-neutral-950;
  }
  path {
    @apply fill-neutral-950;
  }
}
