services:
  web:
    build:
      context: ../
      args:
        - VITE_ZERO_DOMAIN=http://localhost:1339/
    ports:
      - "80:80"

  init:
    build:
      context: ../

  #powersync:
  #  build:
  #    context: ../
  #  environment:
  #    - PS_JWKS=http://web:80/api/auth/jwks

  zerosync:
    build:
      context: ../
    environment:
      - ZERO_AUTH_JWKS_URL=http://web:80/api/auth/jwks
    ports:
      - "1339:80"

volumes:
  replica:
  postgres_data:
