# This compose file is for https://coolify.io/

# Context is set to "." because Coolify copies the compose file to root and runs it from there

# Assign domains to port 80 in coolify as follows:
# web => domain.com:80
# zero => domain.com:80/zero
# powersync => domain.com:80/powersync

# Required ENV
# VITE_DEPLOY_DOMAIN = your "web" domain. Must NOT end with "/". Correct example: "https://tyl.illkle.com".
# BETTER_AUTH_SECRET = secret for auth. https://jwtsecrets.com/#generator
# ZERO_ADMIN_PASSWORD = decently secure password
# POSTGRES_PASSWORD = main password for postgres database
# POWERSYNC_PASSWORD = powersync password for postgres database

# Optional ENV
# RESEND_API_KEY =
# RESEND_FROM_EMAIL =

# PS: Don't forget to setup backup for Postgres

x-database-url: &database-url postgresql://postgres:${POSTGRES_PASSWORD}@postgres:5432/postgres

services:
  postgres:
    image: postgres:16-alpine
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: postgres
    command: ["postgres", "-c", "wal_level=logical"]
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 10s

  init:
    x-exclude-from-hc: true
    build:
      context: .
      dockerfile: ./docker/init.Dockerfile
    environment:
      MIGRATE: true
      DATABASE_URL: *database-url
      POWERSYNC_PASSWORD: ${POWERSYNC_PASSWORD}
    depends_on:
      postgres:
        condition: service_healthy
      zerosync:
        condition: service_started
    restart: "no"

  # powersync:
  #   restart: unless-stopped
  #   build:
  #     context: .
  #     dockerfile: ./docker/powersync.Dockerfile
  #   environment:
  #     PS_DATA_SOURCE_URI: *database-url
  #     PS_STORAGE_URI: postgresql://powersync_storage_user:${POWERSYNC_PASSWORD}@postgres:5432/postgres
  #     PS_JWKS: ${VITE_DEPLOY_DOMAIN}/api/auth/jwks
  #     PS_ROOT_URL: ${VITE_DEPLOY_DOMAIN}
  #   depends_on:
  #     postgres:
  #       condition: service_healthy
  #     init:
  #       condition: service_completed_successfully

  zerosync:
    restart: unless-stopped
    build:
      context: .
      dockerfile: ./docker/zero.Dockerfile
    environment:
      ZERO_UPSTREAM_DB: *database-url
      ZERO_CVR_DB: *database-url
      ZERO_CHANGE_DB: *database-url
      ZERO_QUERY_URL: ${VITE_DEPLOY_DOMAIN}/api/zero/query
      ZERO_MUTATE_URL: ${VITE_DEPLOY_DOMAIN}/api/zero/mutate
      ZERO_QUERY_FORWARD_COOKIES: true
      ZERO_MUTATE_FORWARD_COOKIES: true
      ZERO_REPLICA_FILE: /zero_data/zstart_replica.db
      ZERO_PORT: 80
      ZERO_ADMIN_PASSWORD: ${ZERO_ADMIN_PASSWORD}
    volumes:
      - replica:/zero_data
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:80/"]
      interval: 5s
      timeout: 5s
      retries: 3
      start_period: 30s
    depends_on:
      postgres:
        condition: service_healthy

  web:
    restart: unless-stopped
    build:
      context: .
      dockerfile: ./docker/web.Dockerfile
      args:
        VITE_ZERO_DOMAIN: ${VITE_DEPLOY_DOMAIN}/zero # Domain for zero container
        VITE_PREVIEW_WARNING: ${VITE_PREVIEW_WARNING}
    environment:
      NITRO_PORT: 80
      NODE_ENV: production
      DATABASE_URL: *database-url
      BETTER_AUTH_SECRET: ${BETTER_AUTH_SECRET}
      BETTER_AUTH_URL: ${VITE_DEPLOY_DOMAIN}
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:80/"]
      interval: 5s
      timeout: 5s
      retries: 3
      start_period: 30s
    depends_on:
      init:
        condition: service_completed_successfully
      zerosync:
        condition: service_healthy

volumes:
  replica:
  postgres_data:
