# Settings for source database replication
replication:
  # Specify database connection details
  # Note only 1 connection is currently supported
  # Multiple connection support is on the roadmap
  connections:
    - type: postgresql
      uri: !env PS_DATABASE_URL
      sslmode: disable # 'verify-full' (default) or 'verify-ca' or 'disable'
      # Note: 'disable' is only suitable for local/private networks, not for public networks

# Connection settings for sync bucket storage (MongoDB and Postgres are supported)
storage:
  type: postgresql
  uri: !env PS_DATABASE_URL
  sslmode: disable

# The port which the PowerSync API server will listen on
port: 80

# Specify sync rules
sync_rules:
  content: |
    bucket_definitions:
      user_lists:
        priority: 1
        parameters: SELECT request.user_id() as user_id
        data:
          - SELECT * FROM "TYL_user" WHERE id = bucket.user_id
          - SELECT *, user_id || '|' || key as id FROM "TYL_userFlags" WHERE user_id = bucket.user_id
          - SELECT * FROM "TYL_trackable" WHERE user_id = bucket.user_id
          - SELECT *, user_id || '|' || trackable_id || '|' || key as id FROM "TYL_trackableFlags" WHERE user_id = bucket.user_id
          - SELECT * FROM "TYL_trackableRecord" WHERE user_id = bucket.user_id
          - SELECT *, user_id || '|' || trackable_id || '|' || "group" as id FROM "TYL_trackableGroup" WHERE user_id = bucket.user_id

client_auth:
  jwks_uri: !env PS_AUTH_DOMAIN
  audience:
    - !env PS_VITE_DEPLOY_DOMAIN
  telemetry:
    disable_telemetry_sharing: false

api:
  tokens:
    - HELLO1234
